version: "3.9"

services:
  backend:
    build:
      context: .
      target: backend
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production

  frontend:
    build:
      context: .
      target: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    environment:
      VITE_API_URL: "http://backend:3000/"

  media:
    build:
      context: .
      target: media
    ports:
      - "8080:8080"